@import "./style/style.css";

:root {
  --color-active: #FDD803;
  --color-deactive: #FFF09A;
  --color-dark: #2B2B2B;
  --color-gray: #A7A7A7;
  --color-grayf6: #F6F6F6;
  --color-grayfa: #FAFAFA;
  --color-gray1a: #0000001A;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background: white;
  font-family: "Onest", sans-serif;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.wrap {
  max-width: 1744px;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.headline {
  font-size: 64px;
  font-weight: 600;
  line-height: 83.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-dark);
}

.subtitle {
  font-size: 48px;
  font-weight: 600;
  line-height: 62.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-dark);
}


.description {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-dark);
}