@import "./style/style.css";

:root {
  --color-active: #FDD803;
  --color-deactive: #FFF09A;
  --color-dark: #2B2B2B;
  --color-gray: #A7A7A7;
  --color-grayf6: #F6F6F6;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background: white;
  font-family: "Onest", sans-serif;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.wrap {
  max-width: 1744px;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.headline-h1 {
  font-size: 73px;
  font-weight: 600;
  line-height: 80.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-dark);
  text-transform: uppercase;
  margin: 126px 0 75px 0;
}




@media screen and (max-width: 1650px) {
  .headline-h1 {
    font-size: 62px;
    line-height: 75px;
  }
}

@media screen and (max-width: 1500px) {
  .headline-h1 {
    font-size: 50px;
    line-height: 65px;
    margin: 50px 0 35px 0;
  }

}

@media screen and (max-width: 1280px) {
  .headline-h1 {
    font-size: 40px;
    line-height: 45px;
  }
}


@media screen and (max-width: 1024px) {
  .headline-h1 {
    font-size: 35px;
    line-height: 35px;
  }
}



.headline {
  font-size: 64px;
  font-weight: 600;
  line-height: 83.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-dark);
}

.subtitle {
  font-size: 48px;
  font-weight: 600;
  line-height: 62.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-dark);
}


.description {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-dark);
}