.footer {
    margin-top: 160px;
}

.footer-bg {
    background: var(--color-grayfa);
    padding: 50px 20px 50px 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.footer-min {
    display: none;
}

.footer-max {
    display: block;
}


.footer-bg>.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.footer__logo>svg {
    margin-bottom: 10px;
}

.footer__logo>span {
    font-size: 16px;
    font-weight: 400;
    line-height: 17.6px;
    text-align: left;
    color: var(--color-gray);
}

.footer__politic {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--color-gray);
}

/*
.footer-bg>.wrap>button {
    padding: 27px;
    width: 457px;
    height: 80px;
}

*/

@media screen and (max-width: 1280px) {
    .footer__logo>svg {
        width: 200px;
    }
}

/*
@media screen and (max-width: 1024px) {
    .footer-bg>.wrap>button {
        padding: 0;
        width: 270px;
        height: 70px;
    }
}
*/

@media screen and (max-width: 768px) {

    .footer-bg>.wrap {
        flex-direction: column;
        justify-content: start;
        padding: 0
    }

    .footer__logo>span {
        margin: 10px 0 10px 0;
        text-align: center;
    }

    .footer__logo>svg {
        margin: 0 auto;
    }

    .footer__politic {
        text-align: center;
    }

}

@media screen and (max-width: 600px) {
    .footer {
        margin-top: 50px;
    }

    .footer-bg {
        padding: 30px 20px 30px 20px;
    }

    .footer__logo>svg {
        width: 168px;
    }

    .footer__logo>span {
        font-size: 14px;
    }

    .footer-min {
        display: block;
    }

    .footer__politic {
        font-size: 16px;
    }
}