.formhelp {
    margin: 100px 0;
    background-image: url(../images/form-bg.webp);
    background-repeat: no-repeat;
    border-radius: 30px;
    padding: 70px 75px 92px 66px;
    box-sizing: border-box;
    width: 100%;
    background-size: cover;
}

.form-help {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
}

.formhelp>p {
    margin-top: 20px;
}

.form__block {
    width: 520px;
}

.form-btn {
    display: flex;

}

.form-btn>button {
    padding: 27px;
    width: 457px;
    margin-top: auto;

}

@media screen and (max-width: 1770px) {
    .form__block {
        width: calc((100% / 2.8));
    }

    .form-btn>button {
        width: auto;
    }
}

@media screen and (max-width: 1560px) {
    .form__block {
        width: calc((100% / 3));
    }

    .formhelp {
        margin: 50px 0;
        padding: 40px 40px 40px 40px;
    }

    .formhelp>h2 {
        font-size: 60px;
    }
}

@media screen and (max-width: 1400px) {
    .formhelp>h2 {
        font-size: 56px;
    }
}

@media screen and (max-width: 1300px) {
    .formhelp>h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1320px) {
    .form__block {
        width: calc((100% / 3.3));
    }

}


@media screen and (max-width: 1160px) {
    .form-btn>button {
        padding: 19px;
        width: 100%;
    }

    .form__block>input {
        width: 100%;
    }

    .form-help {
        flex-direction: column;
        justify-content: right;
        background-position: 18% 75%;
        margin-top: 30px;
    }

    .form__block {
        width: 100%;
        margin-bottom: 10px;
    }

    label {
        font-size: 14px;
    }

    .formhelp {
        padding: 30px 10px;
        border-radius: 16px;
    }
}

@media screen and (max-width: 1100px) {
    .formhelp>h2 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media screen and (max-width: 500px) {
    .formhelp>h2 {
        font-size: 35px;
        line-height: 40px;
    }
}

@media screen and (max-width: 450px) {
    .formhelp>h2 {
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 400px) {
    .formhelp>h2 {
        font-size: 24px;
        line-height: 30px;
    }
}