.receiver-bg {
    background: var(--color-grayfa);
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.position-style {
    height: 100px;
}

.receiver-bg>.wrap {
    padding: 80px 0 180px 0;
}

.receiver>button {
    padding: 35px 30px 35px 30px;
    display: flex;
    margin: 60px auto 0 auto;
    align-items: center;
}


.receiver__headline {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.receiver__headline>h2 {
    width: 774px;
}

.receiver__headline>p {
    width: 800px;
    margin-top: 55px;
    box-sizing: border-box;
    padding: 0 50px 0 10px;
}

.receiver__review {
    margin-top: 45px;
}

.receiver__review>h5 {
    font-size: 36px;
    font-weight: 500;
    line-height: 43.2px;
}

.review__block {
    width: 1320px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 38px;
}

.review__block>div {
    margin: 0px 20px 40px 0;
    width: 200px;
    height: 170px;
    border-radius: 16px;
    background-color: white;
    padding: 26px 0 0 22px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

.review__block>div>h6 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
}

.review__block>div>img {
    width: 178px;
    margin-top: auto;
    margin-left: 26px;
}

@media screen and (max-width: 1650px) {
    .receiver__headline>p {
        padding: 0 0px 0 10px
    }
}


@media screen and (max-width: 1600px) {
    .receiver__headline {
        flex-direction: column;
        justify-content: start;
    }

    .receiver__headline>p {
        width: 100%;
    }

    .receiver__headline>h2 {
        width: 100%;
    }

    .review__block {
        width: 100%;
    }

}

@media screen and (max-width: 1024px) {
    .receiver>button {
        margin: 30px auto 0 auto;
        padding: 25px 30px 25px 30px;
    }

    .receiver-bg>.wrap {
        padding: 80px 0 150px 0;
    }
}

@media screen and (max-width: 768px) {
    .receiver-bg>.wrap {
        padding: 40px 0 40px 0;
    }

    .receiver-bg {
        padding: 0 0 0 10px;
    }

    .receiver__review>h5 {
        font-size: 30px;
        line-height: 40px;
    }

    .review__block>div {
        min-width: 130px;
        height: 110px;
        padding: 10px 0 0 10px;
    }

    .review__block>div>h6 {
        font-size: 11px;
        line-height: 13.2px;
    }

    .review__block>div>img {
        width: 110px;
        margin-left: 20px;
    }

    .review__block {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        margin-top: 20px;
        overflow-x: scroll;
    }

    .receiver__review {
        margin-top: 30px;
    }

    .receiver>button>span {
        display: none;
    }

    .receiver>button {
        margin: 30px auto 0 auto;
        padding: 15px 20px 15px 20px;
    }
}


@media screen and (max-width: 500px) {
    .receiver__review>h5 {
        font-size: 20px;
        line-height: 24px;
    }

    .receiver>button {
        padding-right: 0;
        padding-left: 0;
        justify-content: center;
        width: calc(100% - 20px);
        /*  margin-right: 15px;*/
    }
}