@import "./header.css";
@import "./product.css";
@import "./info.css";
@import "./receiver.css";
@import "./form.css";
@import "./article.css";
@import "./main.css";
@import "./footer.css";
@import "./modals.css";
@import "./privacy.css";
@import "./thanks.css";
@import "./normalize.css";

:root {
    --color-active: #fdd803;
    --color-hover: #fff09a;
    --color-dark: #2b2b2b;
    --color-gray: #a7a7a7;
    --color-grayf6: #f6f6f6;
    --color-grayf7: #F7F7F7;
    --color-grayfa: #fafafa;
    --color-gray81: #818181;
    --color-gray1a: #00001a;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background: white;
    font-family: "Onest", sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}

.button-yellow {
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    padding: 30px 0;
    border-radius: 45px;
    color: var(--color-dark);
    background: var(--color-active);
}

.button-yellow:hover {
    background: var(--color-hover);
}

.button-yellow>svg {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

@media screen and (max-width: 1024px) {
    .button-yellow {
        font-size: 16px;
        padding: 20px 0;
    }

    .button-yellow>svg {
        width: 10px;
        height: 10px;
    }
}

@media screen and (max-width: 768px) {
    .button-yellow {
        font-size: 12px;
        padding: 10px 0;
        border-radius: 50px;
    }
}

@media screen and (max-width: 600px) {
    .button-yellow {
        font-size: 16px;
        padding: 20px 0;
        border-radius: 45px;
    }
}

.wrap {
    max-width: 1650px;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

.wrap-without-padding {
    max-width: 1650px;
    padding: 0;
    margin: 0 auto;
}

.headline {
    font-size: 64px;
    font-weight: 600;
    line-height: 83.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-dark);
}

.subtitle {
    font-size: 48px;
    font-weight: 600;
    line-height: 62.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-dark);
}

.description {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-dark);
}

.readAll {
    background: none;
    align-items: center;
}

input {
    width: 100%;
    background: var(--color-grayf7);
    border: none;
    padding-left: 30px;
    box-sizing: border-box;
}

input::placeholder {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-gray);
}

label {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #737373;
}

.form__block>input {
    margin-top: 15px;
    height: 80px;
}

.accept {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: var(--color-gray);
    margin-top: 10px;
}

.headline-style {
    font-size: 64px;
    font-weight: 600;
    line-height: 130%;
    color: var(--color-dark);
}

.readAll>svg {
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media screen and (max-width: 1440px) {
    .headline-style {
        font-size: 50px;
        line-height: 63px;
    }
}

@media screen and (max-width: 1100px) {
    .headline-style {
        font-size: 42px;
        line-height: 57px;
    }

    .form__block>input {
        height: 70px;
    }
}

@media screen and (max-width: 1024px) {
    .subtitle {
        font-size: 38px;
        line-height: 50px;
    }

    .headline {
        font-size: 54px;
        line-height: 73px;
    }

    .description {
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 960px) {
    .headline-style {
        font-size: 37px;
        line-height: 48px;
    }
}

@media screen and (max-width: 850px) {
    .headline-style {
        font-size: 33px;
        line-height: 43px;
    }
}

@media screen and (max-width: 768px) {
    .subtitle {
        font-size: 30px;
        line-height: 40px;
    }

    .headline {
        font-size: 40px;
        line-height: 50px;
    }

    .description {
        font-size: 28px;
    }
}

@media screen and (max-width: 600px) {
    .readAll>svg {
        margin-left: 10px;
        width: 15px;
    }
}

@media screen and (max-width: 500px) {
    .subtitle {
        font-size: 24px;
        line-height: 32px;
    }

    .headline {
        font-size: 24px;
        line-height: 30px;
    }

    .description {
        font-size: 16px;
        line-height: 25px;
    }

    .headline-style {
        font-size: 24px;
        line-height: 28px;
    }

    .accept {
        font-size: 11px;
        line-height: 14.4px;
    }

    input::placeholder {
        font-size: 14px;
        line-height: 16.8px;
    }

    label {
        font-size: 14px;
        line-height: 16.8px;
    }

    .form__block>input {
        margin-top: 5px;
    }
}