.product {
    margin-top: 150px;
}

.product__tag {
    padding: 10px 15px;
    border-radius: 45px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--color-dark);
    background-color: var(--color-grayf6);
    margin-bottom: 60px;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
}

.product__card {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.product__slider {
    width: calc(100% - 432px)
}

.slide-style {
    border-radius: 24px;
    background-color: var(--color-grayfa);
    cursor: pointer;

}

.slide-card-max {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slide-card-max>img {
    width: 1050px;
    height: auto;
}

.thumbs-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    margin-top: 20px;
}


.thumbs-slider>img {
    width: 80%;
    /*width: 272px;*/
    height: auto;
}


.product__price {
    border-radius: 24px;
    width: 408px;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
    height: 600px;
    padding: 30px 35px 40px 35px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.product__price>button {
    font-size: 20px !important;
}

.status {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    background: var(--color-active);
    padding: 8px 0px;
    width: 140px;
    border-radius: 8px;
}

.product__price>.subtitle {
    margin: 20px 0px 45px 0;
}

.price__block {
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
}


/*

.price__block>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
}

/*

.price__block>div:last-child {
    margin-top: 15px;
}


.delivery {
    color: var(--color-gray81);
}

.conditions {
    color: var(--color-dark)
}
*/

.product__price>button {
    width: 100%;
    margin-top: auto;

}

.pagination-min {
    display: none;
}


.block {
    display: none;
}

.show {
    display: block;
}

.readAll {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    transform: rotate(135deg);
    transition: transform 0.3s ease-in-out;
    position: absolute;
    right: -30px;
    top: 14px;
}


.readAll-rotate {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    transform: rotate(-45deg);
    position: absolute;
    right: -160px;
    top: 20px;
}

.swiper-pagination-bullet-active {
    background: var(--color-active);
}

.product__desc {
    margin-top: 90px;
}

.product__desc>.description {
    margin-top: 45px;
}

.show {
    display: block;
    max-height: 750px;
}

.dropdown-content {
    background-color: var(--color-grayfa);
    width: 100%;
    padding: 50px 30px 30px 50px;
    box-sizing: border-box;
    z-index: 5;
    margin-top: 60px;
    transition: max-height 0.4s ease-in-out;
}



.desc-ul {
    list-style: none;
    margin-top: 45px;
}

.desc-ul li:before {
    content: "—";
    position: relative;
    left: -5px;
}

.product__desc>button {
    margin-top: 20px;
    display: flex;
    background: none;
}



.desc-second {
    margin-top: 85px;
}


@media screen and (max-width: 1440px) {
    .slide-card-max>img {
        width: 100%;
    }

    .thumbs-slider {
        height: auto;
        padding: 20px 0 20px 0;
    }
}


@media screen and (max-width: 1024px) {
    .product__price {
        width: 308px;
        padding: 20px 25px 20px 25px;
    }

    .thumbs-slider {
        padding: 0;
    }

    .product__slider {
        width: calc(100% - 330px);
    }

    .status {
        font-size: 18px;
        padding: 5px 0px;
        width: 120px;
    }

    .slide-card-max {
        height: 500px;
    }

    .product__price {
        height: 500px;
    }

    .thumbs-slider {
        height: 100px;
    }

    .thumbs-slider>img {
        width: 100%;
    }

    .dropdown-content {
        padding: 30px 20px 20px 20px;
        margin-top: 30px;
    }

    .desc-ul {
        margin-top: 20px;
    }

    .product__price>button {
        font-size: 15px !important;
    }

    .readAll {
        top: 10px;
    }
}


@media screen and (max-width: 768px) {
    .product__price {
        width: 250px;
        padding: 20px 15px 20px 15px;
    }

    .product__slider {
        width: calc(100% - 270px);
    }

    .product__price {
        height: 400px;
    }

    .slide-card-max {
        height: 400px;
    }

    .product__price>button>svg {
        width: 10px;
        height: 10px;
    }

    .thumbs-slider>img {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .product {
        margin-top: 50px;
    }

    .product__tag {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 19px;
        width: 130px;
    }

    .product__card {
        margin-top: 30px;
    }

    .product__card {
        flex-direction: column;
    }

    .product__slider {
        width: 100%;

    }

    .slide-card-max {
        height: 260px;
        border-radius: 16px;
    }

    .pagin {
        display: none;
    }

    .product__price {
        width: 100%;
        height: 380px;
        margin-top: 20px;
        border-radius: 16px;
    }

    .status {
        font-size: 20px;
        padding: 5px 0px;
        width: 140px;
    }

    /*
    .price__block>div {
        font-size: 16px;
    }
*/
    .product__price>.subtitle {
        margin: 20px 0px 20px 0;
    }

    .pagination-min {
        display: block;
    }

    .description {
        font-size: 16px;
        line-height: 25px;
    }

    .product__desc {
        margin-top: 40px;
    }

    .product__desc>.description {
        margin-top: 20px;
    }

    .product__desc>button {
        font-size: 16px;
        line-height: 24px;
    }

    .desc-second {
        margin-top: 30px;
    }

    .thumbsSlider {
        display: none;
    }

    .readAll {
        top: 4px;
        width: 8px;
        height: 8px;
        border-top: 2px solid black;
        border-right: 2px solid black;
    }

    .readAll-rotate {
        display: inline-block;
        top: 9px;
        width: 8px;
        height: 8px;
        border-top: 2px solid black;
        border-right: 2px solid black;
        transform: rotate(-45deg);
        position: absolute;
        right: -100px;
    }
}